section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textCopy {
  font-family: "Atma", cursive;
  font-weight: 500;
  margin-top: 5px;
  font-size: 22px;
  line-height: 28px;
}

#logoAllNotes {
  width: 378px;
  margin-top: 50px;
}

#containerForm {
  background-color: #afa488;
  width: 458px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

#containerButtonRegister {
  background-color: #afa488;
  border-radius: 15px;
  width: 458px;
  height: 79px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

input {
  width: 351px;
  height: 35px;
  margin-top: 32px;
  border-radius: 8px;
  font-family: "Atma", cursive;
  font-size: 18px;
  border: 1px solid white;
  padding-left: 15px;
}

#inputEmail {
  margin-top: 5px;
}

.error {
  font-family: "Atma", cursive;
  font-size: 14px;
  color: #201A0E;
  font-weight: 600;
  letter-spacing: 1px;
  position: fixed;
  margin: 4px 0px 2px 0px;
}

button {
  font-family: "Atma", cursive;
  font-size: 18px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#buttonLogIn {
  background-color: #201a0e;
  color: #fcd374;
  font-weight: 500;
  margin-top: 35px;
  width: 100px;
  height: 35px;
}

#buttonForRegister {
  background-color: #f4c356;
  color: #201a0e;
  font-weight: 600;
  width: 100px;
  height: 35px;
}

#buttonGoogle {
  background-color: #f4c356;
  color: #201a0e;
  font-weight: 600;
  text-align: center;
  margin-top: 22px;
  width: 210px;
  height: 37px;
}

#logoGoogle {
  margin: 1.5px 0px 0px 10px;
  float: left;
}
