.modal {
  background-color: rgba(0, 0, 0, 0.50);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalNewNote {
  background-color: white;
  border-bottom-right-radius: 25px;
  border: 2px solid #201A0E;
  padding: 10px;
  width: 338px;
  height: 358px;
  
}

.modalOpen {
  display: grid;
}

#btnCloseModal {
    background-color: none;
    text-align: center;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    border:none;
    cursor: pointer;
    margin-top: 5px;
    width: 27px;
    height: 27px;
    padding: 0px;       
}

#btnClose {
    width: 27px;
    height: 27px;
    float: center;
}


