#btnCloseRegister {
    background-color: #201A0E;
    color: #FCD374;
    font-size: 18px;
    font-family: "Atma", cursive;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px 0px 8px;
    margin: 200px 0px 5px 438px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
}  

#logoAllNotesReg {
    width: 168px;
    margin-left: 290px;
    margin-bottom: 25px;
}

#containerRegister {
    background-color: #afa488;
    width: 458px;
    height: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
 #inputName {
    margin-top: 5px;
 }

#buttonRegister {
    background-color: #201A0E;
    color: #FCD374;
    font-family: "Atma", cursive;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 42px;
    width: 100px;
    height: 35px;
    border:none;
    cursor: pointer;
}



